/**z-index:
  *100000 - pull up
  *99999 - footer
  *9999 - not used yet
  *999 - header pill
  *99 - image slider pill count
*/

/*common css vars*/
:root{
    --primary-color: #232F3F;
    --secondary-color: #33adff;
}

/*html tag overrides*/
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
}

/*generic styles*/
.margin-0{
    margin: 0px;
}
.margin-5{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-15{
    margin: 15px;
}
.margin-20{
    margin: 20px;
}
.margin-25{
    margin: 25px;
}
.margin-top-0{
    margin-top: 0px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-left-0{
    margin-left: 0px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-25{
    margin-left: 25px;
}
.margin-right-0{
    margin-right: 0px;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-15{
    margin-right: 15px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-right-25{
    margin-right: 25px;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.padding-0{
    padding: 0px;
}
.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.padding-20{
    padding: 20px;
}
.padding-25{
    padding: 25px;
}
.padding-top-0{
    padding-top: 0px;
}
.padding-top-5{
    padding-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-left-0{
    padding-left: 0px;
}
.padding-left-5{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-left-15{
    padding-left: 15px;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-left-25{
    padding-left: 25px;
}
.padding-right-0{
    padding-right: 0px;
}
.padding-right-5{
    padding-right: 5px;
}
.padding-right-10{
    padding-right: 10px;
}
.padding-right-15{
    padding-right: 15px;
}
.padding-right-20{
    padding-right: 20px;
}
.padding-right-25{
    padding-right: 25px;
}
.padding-bottom-0{
    padding-bottom: 0px;
}
.padding-bottom-5{
    padding-bottom: 5px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}
.float-left{
    float: left
}
.float-right{
    float: right
}
.bg-primary{ 
    background-color: var(--primary-color) !important; 
}
.text-white{
    color: #fff;
}
.text-grey{
    color: rgba(0, 0, 0, 0.750)
}
.text-align-center{
    text-align: center;
}
.font-h6{
    font-size: 14px;
}
.font-h7{
    font-size: 13px;
}
.font-h8{
    font-size: 12px;
}
.font-weight-600{
    font-weight: 600;
}
.border-0{
    border: none !important;
}
.display-none{
    display: none
}

/*generic reusable styles*/
.vertical-breaks{
    margin-right: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-right: 1px solid #000;
}
.key-text{
    color: #888;
    font-weight: 400;
}

/*pull up*/
.e-modal{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%; 
    height: 100%;   
    background: #fff;
    z-index: 1000000 !important;
}
.e-modal.open{
    display: block;
}
.e-modal.close{
    display: none;
}
.e-modal-header{
    width: 100%;
    height: 25px;
    background-color: #33adff;
}
.e-modal-exit{
    position: relative;
    width: 30px;
    height: 30px;
    top: 30px;
    margin-top: 0px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 10000001;
    background: url('../assets/icons/exit.button.svg') no-repeat;
}
.e-modal-display{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/*the app - header, container, footer*/
.header{
    width: 100%;
}
.header-banner{
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.version-pill{
    top: -22px;
    left: calc((100%/1.57));
    width: 45px;
    height: 15px;
    margin-left: 2px;
    padding: 0px 3px 1px 3px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    background: rgba(204, 0, 0, 1);
    z-index: 999;
}
.endvr{
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    z-index: 99999;
}
.footer-item{
    padding-top: 5px;
}
.footer-icon{
    width: 20px;
    height: 20px;
    margin-top:1px;
    margin-left: auto;
    margin-right: auto;
}
.footer a{
    padding-top: 0px;
    font-size: 11px;
    color: white !important;
}
.footer a:hover,.footer a.active{
    color: var(--secondary-color) !important;
}

/*icons*/
.icon-home{
    background: url('../assets/icons/home.svg') no-repeat;
}
.icon-home:hover, .icon-home:active, .icon-home.active{
    background: url('../assets/icons/home.active.svg') no-repeat;
}
.icon-discover{
    background: url('../assets/icons/discover.svg') no-repeat;
}
.icon-discover:hover, .icon-discover:active, .icon-discover.active{
    background: url('../assets/icons/discover.active.svg') no-repeat;
}
.icon-notifications{
    background: url('data:image/svg+xml;charset=utf8,<svg version="1.1" viewBox="0 0 48 48" fill="#fff" stroke="#fff" stroke-width="2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path clip-rule="evenodd" d="M45.817,39.271c0-0.174-0.049-0.332-0.121-0.477   c-0.465-3.541-2.477-6.572-5.334-8.441v-9.626c0-7.128-4.563-13.175-10.924-15.418C29.36,2.365,26.964,0,23.999,0   c-2.961,0-5.359,2.365-5.438,5.31C12.202,7.553,7.636,13.6,7.636,20.728v9.626c-2.855,1.869-4.867,4.9-5.332,8.441   c-0.072,0.145-0.121,0.303-0.121,0.477c0,0.107,0.031,0.205,0.061,0.303c-0.018,0.266-0.061,0.52-0.061,0.789h1.09h1.092h39.271   h1.092h1.09c0-0.27-0.043-0.523-0.059-0.789C45.786,39.477,45.817,39.379,45.817,39.271z M4.628,38.182   c0.559-2.445,2.057-4.598,4.203-6.002l0.988-0.646v-1.18v-9.626c0-5.993,3.805-11.362,9.467-13.36l1.416-0.499l0.039-1.5   c0.049-1.786,1.479-3.187,3.258-3.187s3.211,1.4,3.26,3.187l0.039,1.5l1.416,0.499c5.662,1.998,9.467,7.367,9.467,13.36v9.626v1.18   l0.986,0.646c2.146,1.404,3.645,3.557,4.205,6.002H4.628z" fill-rule="evenodd"/><path clip-rule="evenodd" d="M23.999,45.818c-1.807,0-3.271-1.467-3.271-3.273h-2.182   c0,3.014,2.441,5.455,5.453,5.455c3.014,0,5.455-2.441,5.455-5.455h-2.182C27.272,44.352,25.808,45.818,23.999,45.818z" fill-rule="evenodd"/></g></svg>');
}
.icon-notifications:hover, .icon-notifications:active, .icon-notifications.active{
    background: url('data:image/svg+xml;charset=utf8,<svg version="1.1" viewBox="0 0 48 48" fill="#33adff" stroke="#33adff" stroke-width="2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path clip-rule="evenodd" d="M45.817,39.271c0-0.174-0.049-0.332-0.121-0.477   c-0.465-3.541-2.477-6.572-5.334-8.441v-9.626c0-7.128-4.563-13.175-10.924-15.418C29.36,2.365,26.964,0,23.999,0   c-2.961,0-5.359,2.365-5.438,5.31C12.202,7.553,7.636,13.6,7.636,20.728v9.626c-2.855,1.869-4.867,4.9-5.332,8.441   c-0.072,0.145-0.121,0.303-0.121,0.477c0,0.107,0.031,0.205,0.061,0.303c-0.018,0.266-0.061,0.52-0.061,0.789h1.09h1.092h39.271   h1.092h1.09c0-0.27-0.043-0.523-0.059-0.789C45.786,39.477,45.817,39.379,45.817,39.271z M4.628,38.182   c0.559-2.445,2.057-4.598,4.203-6.002l0.988-0.646v-1.18v-9.626c0-5.993,3.805-11.362,9.467-13.36l1.416-0.499l0.039-1.5   c0.049-1.786,1.479-3.187,3.258-3.187s3.211,1.4,3.26,3.187l0.039,1.5l1.416,0.499c5.662,1.998,9.467,7.367,9.467,13.36v9.626v1.18   l0.986,0.646c2.146,1.404,3.645,3.557,4.205,6.002H4.628z" fill-rule="evenodd"/><path clip-rule="evenodd" d="M23.999,45.818c-1.807,0-3.271-1.467-3.271-3.273h-2.182   c0,3.014,2.441,5.455,5.453,5.455c3.014,0,5.455-2.441,5.455-5.455h-2.182C27.272,44.352,25.808,45.818,23.999,45.818z" fill-rule="evenodd"/></g></svg>');
}
.icon-account{
    background: url('data:image/svg+xml;charset=utf8,<svg version="1.1" viewBox="0 0 48 48" fill="#fff" stroke="#fff" stroke-width="2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M24,48C10.766,48,0,37.232,0,23.999S10.766,0,24,0c13.234,0,24,10.766,24,23.999S37.234,48,24,48z M24,1.646 c-12.326,0-22.355,10.026-22.355,22.354S11.675,46.354,24,46.354c12.324,0,22.353-10.027,22.353-22.354S36.324,1.646,24,1.646z"/></g><g><path d="M24,48c-5.838,0-11.469-2.127-15.851-5.988L7.544,41.48l0.521-0.615c1.538-1.824,4.259-3.348,7.661-4.281 c1.219-0.486,1.805-0.809,2.244-1.246c0.469-0.471,0.729-0.91,0.818-1.393c0.061-0.334,0.045-2.088-0.004-3.643 c-0.844-0.957-1.578-2.381-2.283-4.434c-0.727-0.379-1.373-1.31-1.566-2.331c-0.207-1.097-0.088-2.018,0.297-2.57 c-0.896-5.27-0.316-9.187,1.73-11.64C18.557,7.414,21,6.443,24.223,6.443l0.287-0.006c2.684,0,3.301,0.563,3.881,1.355 c0.111,0.154,0.203,0.276,0.34,0.388c1.482,0.002,2.715,0.597,3.563,1.72c1.607,2.133,1.803,6.212,0.539,10.989 c0.447,0.546,0.57,1.532,0.311,2.707c-0.244,1.089-1.016,2.065-1.789,2.362c-0.572,1.881-1.156,3.309-2.076,4.379v3.434 c0.102,0.76,0.389,1.041,0.912,1.551l0.35,0.346c0.328,0.262,0.617,0.4,1.916,0.973c3.26,0.9,5.953,2.416,7.479,4.225l0.52,0.615 l-0.605,0.531C35.465,45.873,29.836,48,24,48z M9.888,41.332c3.984,3.244,8.96,5.021,14.113,5.021 c5.15,0,10.126-1.777,14.109-5.021c-1.385-1.301-3.549-2.402-6.207-3.145c-1.445-0.627-1.896-0.836-2.475-1.311L29.043,36.5 c-0.604-0.586-1.229-1.193-1.406-2.627l-0.006-4.186l0.229-0.238c0.914-0.947,1.49-2.488,2.078-4.51l0.332-1.142l0.67,0.502 c0.199-0.188,0.484-0.564,0.596-1.06c0.135-0.611,0.102-1.047,0.051-1.239l-0.627-0.199l0.133-0.791 c1.273-4.459,1.23-8.338-0.113-10.119c-0.541-0.717-1.277-1.064-2.254-1.064l-0.449,0.017l-0.211-0.125 c-0.537-0.319-0.805-0.686-1.002-0.953c-0.277-0.38-0.498-0.681-2.553-0.681l-0.275,0.003c-2.725,0-4.74,0.771-6.01,2.294 c-1.775,2.131-2.211,5.739-1.295,10.733l0.148,0.822l-0.547,0.09c-0.053,0.205-0.09,0.625,0.02,1.206 c0.125,0.662,0.566,1.129,0.713,1.196l0.619-0.026l0.051,0.57c0.725,2.196,1.439,3.599,2.246,4.415l0.227,0.227l0.012,0.324 c0.027,0.832,0.113,3.605-0.012,4.303c-0.152,0.814-0.568,1.555-1.273,2.258c-0.697,0.697-1.553,1.115-2.887,1.643 C13.487,38.906,11.288,40.016,9.888,41.332z"/></g></g></svg>');
}
.icon-account:hover, .icon-account:active, .icon-account.active{
    background: url('data:image/svg+xml;charset=utf8,<svg version="1.1" viewBox="0 0 48 48" fill="#33adff" stroke="#33adff" stroke-width="2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M24,48C10.766,48,0,37.232,0,23.999S10.766,0,24,0c13.234,0,24,10.766,24,23.999S37.234,48,24,48z M24,1.646 c-12.326,0-22.355,10.026-22.355,22.354S11.675,46.354,24,46.354c12.324,0,22.353-10.027,22.353-22.354S36.324,1.646,24,1.646z"/></g><g><path d="M24,48c-5.838,0-11.469-2.127-15.851-5.988L7.544,41.48l0.521-0.615c1.538-1.824,4.259-3.348,7.661-4.281 c1.219-0.486,1.805-0.809,2.244-1.246c0.469-0.471,0.729-0.91,0.818-1.393c0.061-0.334,0.045-2.088-0.004-3.643 c-0.844-0.957-1.578-2.381-2.283-4.434c-0.727-0.379-1.373-1.31-1.566-2.331c-0.207-1.097-0.088-2.018,0.297-2.57 c-0.896-5.27-0.316-9.187,1.73-11.64C18.557,7.414,21,6.443,24.223,6.443l0.287-0.006c2.684,0,3.301,0.563,3.881,1.355 c0.111,0.154,0.203,0.276,0.34,0.388c1.482,0.002,2.715,0.597,3.563,1.72c1.607,2.133,1.803,6.212,0.539,10.989 c0.447,0.546,0.57,1.532,0.311,2.707c-0.244,1.089-1.016,2.065-1.789,2.362c-0.572,1.881-1.156,3.309-2.076,4.379v3.434 c0.102,0.76,0.389,1.041,0.912,1.551l0.35,0.346c0.328,0.262,0.617,0.4,1.916,0.973c3.26,0.9,5.953,2.416,7.479,4.225l0.52,0.615 l-0.605,0.531C35.465,45.873,29.836,48,24,48z M9.888,41.332c3.984,3.244,8.96,5.021,14.113,5.021 c5.15,0,10.126-1.777,14.109-5.021c-1.385-1.301-3.549-2.402-6.207-3.145c-1.445-0.627-1.896-0.836-2.475-1.311L29.043,36.5 c-0.604-0.586-1.229-1.193-1.406-2.627l-0.006-4.186l0.229-0.238c0.914-0.947,1.49-2.488,2.078-4.51l0.332-1.142l0.67,0.502 c0.199-0.188,0.484-0.564,0.596-1.06c0.135-0.611,0.102-1.047,0.051-1.239l-0.627-0.199l0.133-0.791 c1.273-4.459,1.23-8.338-0.113-10.119c-0.541-0.717-1.277-1.064-2.254-1.064l-0.449,0.017l-0.211-0.125 c-0.537-0.319-0.805-0.686-1.002-0.953c-0.277-0.38-0.498-0.681-2.553-0.681l-0.275,0.003c-2.725,0-4.74,0.771-6.01,2.294 c-1.775,2.131-2.211,5.739-1.295,10.733l0.148,0.822l-0.547,0.09c-0.053,0.205-0.09,0.625,0.02,1.206 c0.125,0.662,0.566,1.129,0.713,1.196l0.619-0.026l0.051,0.57c0.725,2.196,1.439,3.599,2.246,4.415l0.227,0.227l0.012,0.324 c0.027,0.832,0.113,3.605-0.012,4.303c-0.152,0.814-0.568,1.555-1.273,2.258c-0.697,0.697-1.553,1.115-2.887,1.643 C13.487,38.906,11.288,40.016,9.888,41.332z"/></g></g></svg>');
}
.icon-assistant{
    background: url('../assets/icons/assistant.svg') no-repeat;
}
.icon-assistant:hover, .icon-assistant:active, .icon-assistant.active{
    background: url('../assets/icons/assistant.active.svg') no-repeat;
}
.icon-discovery-list{
    width: 125px !important; 
    height: 125px !important;
}

/*image slider*/
.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper-card{
    flex: 0 0 auto;
}
.scrolling-img{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);   
    border-radius: 3px;
}
.scrolling-img-pill-count{
    position: relative;
    top: 10px;
    left: calc(100% - 15px);
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: rgba(35, 47, 63, 1);
    z-index: 99;
}
.scrolling-img-col{
    padding-left: 0px !important;
}

/*image carousel*/
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#232F3F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#232F3F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators li{
    background-color: #232F3F !important;
}
.carousel-indicators li.active{
    background-color: #33adff !important;   
}
.carousel-bttn{
    background: #33adff !important;
    border: none !important;
}
.carousel-indicators{
    bottom: -20px !important;
}

/*cards*/
.card-body{
    padding: 10px !important;
}
.card-holder{
    width: 100%;
    border-bottom: 10px solid rgba(0, 0, 0, 0.075);
}  
.card-footer{
    width: 100%;
    padding: 10px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}