.home-container{
    width: 100%;
    height: 100%; 
}
.parent-card-variant-slider-img{
    width: 100px !important;
    height: 100px !important;
}
.parent-card-brand{
    width: 40px !important;
    height: 100%;
    margin-left: 15px;
    padding-top: 2px;
}
.parent-card-brand-logo{
    width: 40px !important;
    height: 40px !important;
    padding: 5px;
    /*border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);*/
}
/*TODO: this should move the brand model*/
.nike-logo{
    background-image: url('data:image/svg+xml;charset=utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400.000000 400.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"><path d="M0 2000 l0 -2000 2000 0 2000 0 0 2000 0 2000 -2000 0 -2000 0 0 -2000z m1301 323 c-81 -165 -60 -308 53 -362 51 -25 157 -30 241 -11 57 13 1505 394 1580 416 27 8 45 10 40 6 -9 -7 -434 -187 -1465 -620 -322 -135 -453 -164 -577 -127 -54 16 -124 80 -143 131 -39 102 22 292 142 446 44 56 150 178 154 178 2 0 -10 -26 -25 -57z"/></g></svg>');
}